/* footer */

.contacts {
    background-color: #345288;
}

.contacts-header {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.contacts-list {
    list-style: none;
}

.contacts-list_item {
    width: 150px;
    height: 150px;
}

.contacts-list_item-header {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;

    text-transform: uppercase;
}

.contacts-list_item-value {
    font-size: 15px;
    font-weight: bold;
    color: #00ff00;
}

.copyright_description {
    font-size: 15px;
    font-weight: bold;
}
