/* ==========================================================================
   Footer
   ========================================================================== */

.page-footer {
    display: flex;
    flex-direction: column;
}

.contacts {
    margin-top: 25px;
    min-height: 260px;

    text-align: center;

    background: #263d5f;
}

.contacts-header {
    margin: 15px 0 0;

    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.contacts-list {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
    padding: 0;

    list-style: none;
}

.contacts-list_item {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 170px;

    border-right: 1px solid #00ff00;
}

.contacts-list_item:last-child {
    border: none;
}

.contacts-list_item-header {
    margin: 20px 0 0;

    font-size: 20px;
    font-weight: normal;
    color: #ffffff;

    text-transform: uppercase;
}

.contacts-list_item-picture {
    order: -1;
    margin: 35px 0 0;
}

.contacts-list_item-value {
    margin: 5px 0 0;

    font-size: 15px;
    font-weight: normal;
    color: #00ff00;
}

.copyright {
    min-height: 45px;

    text-align: center;
}

.copyright_description {
    margin: 10px 0 0;

    font-size: 15px;
    font-weight: bold;
}
