/* ==========================================================================
   Header
   ========================================================================== */

.page-header .container {
    display: flex;
    justify-content: space-around;
}

.page-header__logo {
    height: 84px;

    text-align: center;
}

.page-header__logo img {
    width: 88px;
    height: 65px;
    padding: 10px 10px;
}

.main-nav {
    width: 200px;
}

.main-nav__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.site-list {
    display: flex;
    justify-content: center;

    font-weight: bold;
}

.site-list__item {
    box-shadow: 0 10px 0 -8px #345288;
}

.site-list__item:hover {
    box-shadow: 0 5px 0 -2px #345288;
}

/*.site-list__item a:hover {*/
/*    background-color: #2d729b;*/
/*}*/

/*.site-list__item a:active {*/
/*    background-color: #263d5f;*/
/*}*/

.site-list__item a {
    display: block;
    padding: 30px 10px;

    font-size: 16px;

    color: #000000;
    text-transform: uppercase;
}
