@import "../variables";
@import "../mixins";

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 26px;
  height: 26px;

  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 2px;

    width: 22px;
    height: 4px;

    background: @gray-color;
    box-shadow: 0 0 3px @black-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
