@import "../variables";
@import "../mixins";

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: none;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.7);
}

.shadow--open {
  display: block;

  animation: show-shadow 100ms;
}
