@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/pt_sans.woff2") format("woff2"),
    url("../fonts/pt_sans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/pt_sans_bold.woff2") format("woff2"),
    url("../fonts/pt_sans_bold.woff") format("woff");
}

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;

@font-family: "PT Sans", "Arial", sans-serif;
@font-size: 14px;

@logo-path: "../img/logo.png";
@bg-image-path: "../img/bg_main.jpg";

@primary-color: #263d5f;
@secondary-color: #345288;
@white-color: #ffffff;
@black-color: #000000;
@gray-color: #454545;
@green-color: #00ff00;
